@import '~@newrelic/nr-labs-components/dist/styles.css';
@import '../../src/components/styles.scss';
@import './Summary/styles.scss';


#root {
  background-color: #f3f4f4;
}


.score-card {
  padding: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02),
    0px 8px 16px 8px rgba(2, 3, 3, 0.05);
  border-radius: 4px;

  &.summary {
    height: 323px;
  }

  &.navigator {
    height: 164px;
  }

  .title {
    @include text-ellipsis;
  }

  .subtitle {
    color: #535e65;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: -8px;
    margin-bottom: 12px;
    @include text-ellipsis;
  }

  .elements {
    height: 160px;
    overflow-y: auto;
    display: grid;
    column-gap: 8px;
    grid-template-columns: 50% 50%;
    overflow-x: hidden;
  }

  .status-icons-wrapper {
    display: flex;
    margin-bottom: 3px;
  }

  .status-icons-container {
    font-size: 0;

    &::before {
      content: '';
      width: 15px;
      float: left;
      height: 120%;
      shape-outside: repeating-linear-gradient(transparent 0 52px, #000 0 60px);
    }
  }
}

.score-label {
  color: #6b757b;
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;

  .success {
    color: $success;
  }
  .warning {
    color: $warning;
  }
  .critical {
    color: $critical;
  }
}

.score-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  grid-gap: 20px 17px;
}


.section-header {
  padding: 0.5rem 0.25rem;
}


.empty-state {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 3px dashed #e3e4e4;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.empty-state-header {
  margin-bottom: 1rem;
  color: #464e4e;
  font-size: 1.5rem;
  font-weight: 600;
}

.empty-state-desc {
  margin: 0 auto;
  color: #8e9494;
  line-height: 1.25rem;
}

.button-row {
  padding: 0.5rem;

  button + button {
    margin-left: 0.5rem;
  }
}