@import '~@newrelic/nr-labs-components/dist/styles.css';
@import '../../src/components/styles.scss';

#root {
  background-color: #f3f4f4;
}

.grid-tile {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 1px;
}