@import './variables.scss';
@import './mixins.scss';
@import './Score/styles.scss';
@import './ScoreList/styles.scss';
@import './ScoreCard/styles.scss';
@import './MaturityElementList/styles.scss';

hr {
    background-color: #F3F4F4;
    border: 0 none;
    color: #F3F4F4;
    height: 5px;
    margin-left: -15px;
}